
/* color palette: http://paletton.com/#uid=75B0Z0kllll5gSNdkuCtmc3Lc2K */
body {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

    background-image: url('img/noise.png');
    background-color: #01050f;
    color: #bababa;
    font-family: Noto Sans, sans-serif;
}

@media (min-width: 1300px) {
    .wrapper {
        margin: 0px 10px;
    }
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header .box {
    margin-bottom: 0px;
}

h1, h2 {
    margin: 0px;
}
@media (max-width: 400px) {
    h1 {
        font-size: 1.0em;
    }
}
@media (min-width: 401px) and (max-width: 500px) {
    h1 {
        font-size: 1.4em;
    }
}

a {
    color: #bababa;
}

.box {
    background-color: #0b1b40;
    background-image: url('img/noise.png');
    margin: 10px 0px;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px black;
    max-width: min(calc(100vw - 20px), 700px);
    overflow-x: auto;
}

.box:last-child {
    margin-bottom: 0px;
}

.box.dont_grow {
    display: inline-block;
}

.box.loading {
    filter: opacity(50%) grayscale(60%) blur(0.25px);
}

.hidable {
    overflow: hidden;
    transition: max-height 0.5s ease;
    max-height: 0;
}

.hidable.open {
    max-height: 1000px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row .box {
    margin: 10px 10px;
}

.row .box:first-child {
    margin-left: 0px;
}

.columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0px;
}
.columns:first-child {
    margin-top: 0px;
}
.columns:last-child {
    margin-bottom: 0px;
}
#status_box .columns {
    justify-content: space-evenly;
}

.columns * {
    margin: 0px 10px;
}
.columns *:first-child {
    margin-left: 0px;
}
.columns *:last-child {
    margin-right: 0px;
}

.grow {
    flex-grow: 1;
}

#current_status {
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    width: 15%;
    padding: 10px;
}

#current_status[data-status='closed'] {
    color: #a7383e;
}
#current_status[data-status='private'] {
    color: #6779a3;
}
#current_status[data-status='public'] {
    color: #378b2e;
}

span.status {
    border-radius: 5px;
    padding: 0px 3px;
    color: white;
}

span.status[data-status='closed'] {
    background-color: #a7383e;
}
span.status[data-status='private'] {
    background-color: #6779a3;
}
span.status[data-status='public'] {
    background-color: #378b2e;
}

#current_status_note {
    background-color: #01050f;
    padding: 5px;
    box-shadow: 0px 0px 10px 0px black inset;
    font-size: 130%;
    white-space: pre-wrap;
    word-break: break-all;
}

#current_status_details {
    font-size: 80%;
}
#current_status_details th {
    text-align: right;
    vertical-align: top;
}

#status_change_buttons {
    display: flex;
    justify-content: space-around;
}

#status_change_buttons input {
    margin: 0px 5px;
    border-width: 0px;
    color: white;
    font-size: 130%;
    background-color: #378b2e;
}
#status_change_buttons input+input {
    background-color: #6779a3;
}
#status_change_buttons input+input+input {
    background-color: #a7383e;
}

#status_change_note {
    width: 100%;
}

#announcement_add_note, #announcement_modify_note {
    width: 100%;
}

.label {
    font-weight: bold;
}

table.monospace {
    border-collapse: collapse;
    font-family: monospace;
    min-width: 680px;
}
table.monospace td {
    padding: 5px;
}
table.monospace tr td {
    border-top: 1px solid #01050F;
    white-space: nowrap;
    vertical-align: top;
}

#log td:nth-child(1),
#announcements td:nth-child(1),
#announcements td:nth-child(2) {
    text-align: right;
}
#log td:nth-child(3), #announcements td:nth-child(5) {
    text-align: center;
}
#note {
    white-space: pre-wrap;
    word-break: break-all;
}

#announcements tr.begun td:nth-child(1) {
    color: #6779a3;
}

td.actions i {
    color: white;
    cursor: pointer;
}

.button {
    cursor: pointer;
}

body:-webkit-full-screen {
    width: 100%;
    height: 100%;
}

label {
    white-space: nowrap;
}

